
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: black;
    width: 10vw;
    height: calc(10px + 10vmin);
    border-radius: 4px;
    border-color: #282c34;
    border-style: solid;
  }

.controlButton {
    color: white;
    width: 5vw;
    height: 3vw;
    background-color: transparent;
    border-radius: 4px;
    border-color: white;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.controlButton:hover{
    cursor: pointer;
    background-color: white;
    color: #282c34;
}