
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    width: 100%;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
    width: 35%;
    height: 10%;
    border-radius: 4px;
    border-color: #282c34;
    border-style: solid;
  }